<%= form_for(@vote_comment) do |f| %>
  <% if @vote_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_comment.errors.count, "error") %> prohibited this vote_comment from being saved:</h2>

      <ul>
      <% @vote_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :comment_id %><br>
    <%= f.number_field :comment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
