<p id="notice"><%= notice %></p>

<h1>Listing Vote Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vote_comments.each do |vote_comment| %>
      <tr>
        <td><%= vote_comment.user_id %></td>
        <td><%= vote_comment.comment_id %></td>
        <td><%= link_to 'Show', vote_comment %></td>
        <td><%= link_to 'Edit', edit_vote_comment_path(vote_comment) %></td>
        <td><%= link_to 'Destroy', vote_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote comment', new_vote_comment_path %>
