<%= form_for(@vote_challenge) do |f| %>
  <% if @vote_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_challenge.errors.count, "error") %> prohibited this vote_challenge from being saved:</h2>

      <ul>
      <% @vote_challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :challenge_id %><br>
    <%= f.number_field :challenge_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
