

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin|Dosis|Lobster|Nunito|Maven+Pro|Shadows+Into+Light|Orbitron|Open+Sans+Condensed:300|Ubuntu+Condensed|Coming+Soon|Raleway);


@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";
@import "home";
@import "challenges";


/** body **/
body{
  background-color: lighten($bgcolor, 10%);
}

.site-wrapper{

  padding: 0px;
  background-color: $bgcolor;
  min-height: 770px;
}


/** forms **/
form{
  @include form($form_color);
}
/** links **/
a,
a:focus,
a:hover {
  color: green;
  text-decoration: none;

}

/** header **/
.main_header{
 /** background-color: grayscale(invert($bgcolor)); **/


  h1{
    @include header(48px);
  }
}

#myCarousel{

  min-height: 50%;
  width: 100%;
  padding: 0px;
  font-size: 30px;
}

/** navbar **/
nav{
  color: black;
  font-family: 'Raleway';

  padding: 0 10% 0;

  .navbar-brand{
    font-size: 500%;
    padding: 10%;

  }

  .list li{
    color: green !important;
    font-size: 130%;
  }
}
.navbar-custom{
background-color: #39CCCC;
font-family: Raleway, sans-serif;
	.nav li{
		color: #444;
	}
}


/** footer **/
